<div class="example-button-row">
    
  </div>
  <p *ngIf="!(books$ | async)">loading books...</p>
  <mat-accordion>
      <mat-expansion-panel *ngFor = "let book of books$ | async">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{book.title}}
          </mat-panel-title>
        </mat-expansion-panel-header> 
        by {{book.body}}   
  
        <button 
       mat-raised-button color="primary"
       (click)=deleteBook(book.id)>
        delete  
      </button>
  
      <button mat-button (click)="addLikes(book.id,book.likes)">LIKE</button> 
      
      <span *ngIf="book.likes!=0">{{book.likes}}</span>
  
      </mat-expansion-panel>
    </mat-accordion>
  
  