
<mat-card>
    <h1>Sign Up</h1>
    <form #signupForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="example-container">
        <mat-form-field>
            <input 
                matInput placeholder="email"
                [(ngModel)] = "email"
                name = "email">
        </mat-form-field> 
        <!-- <mat-error *ngIf="!(email.valid || email.pristine)">
          Email is required          
        </mat-error>     -->
        <br>
           
        <mat-form-field>
                <input 
                    matInput placeholder="strong password"
                    [(ngModel)] = "password"
                    name = "password">
        </mat-form-field>   
        <!-- <mat-error *ngIf="!(password.valid || password.pristine)">
          Password is required          
        </mat-error>                  -->
        <br>
        <div >
            <button mat-raised-button color="primary" 
            
            [disabled]="!signupForm.form.valid" >
                     Sign Up
            </button>
        </div>
    <!-- <label class="error">{{errorMessage}}</label>
     <label class="success">{{successMessage}}</label> -->
     <!-- (click)="tryRegister(signupForm.value)" -->
      </div>
    </form>
    </mat-card>
