
<mat-accordion>
    <mat-expansion-panel *ngFor = "let post of posts$">
      <mat-expansion-panel-header>
        <mat-panel-title>
        
<!-- <span *ngIf =true >{{feed}}</span> -->
          <button 
          mat-raised-button color="primary"
          (click)= "addBook(post.title,post.body,0)"  >
           Save Post 
         </button>
         
          Post id:{{post.id}} , Post title: {{post.title}}

        </mat-panel-title>
      </mat-expansion-panel-header> 
     The Post: <br> {{post.body}}  <br>
     <mat-list-item  *ngFor = "let comment of comments$">  
        <div *ngIf ="comment.postId == post.id">
          <p> Comment id:{{comment.id}}. {{comment.body}}</p>
        </div> 
    </mat-list-item>
    </mat-expansion-panel>
  </mat-accordion>
  
